
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease-in-out;
}

:root {
    --primary: #f59e0b;
    --primary-light: #fbbf24;
    --primary-dark: #d97706;

    --background-light: #ffffff;
    --background-muted: #eeeeeefd;
    --background-dark: #0f1117;

    /* light */
    --card-light: #ffffff;
    --card-light-hover: #fcfcfc;
    --card-light-border: #e5e7eb;

    /* dark */
    --card-dark: #181a20;
    --card-dark-hover: #1f222a;
    --card-dark-border: #2a2d35;

    --text-light: #ffffff;
    --text-dark: #1c1c1c;
    --border: #333333;

    --text-primary: #ffffff;
    --text-muted: #686767;
    --text-dark: #22272eea;

    --radius: 35px;
}

@font-face {
    font-family: 'Manrope';
    src: url('../assets/fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../assets/fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../assets/fonts/Manrope-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: var(--background-light);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1,
h2,
h3 {
    color: var(--bs-text);
    font-family: 'Manrope', sans-serif;
    font-optical-sizing: auto;
}

p,
small,
b,
a,
li {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    color: var(--bs-text);
    word-wrap: break-word;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 1em;
    color: var(--text-primary);
    border-radius: var(--radius);
    background: var(--primary);
    font-weight: bold;
    font-size: clamp(17px, 4vw, 19px);
    border: none;
    cursor: pointer;
}
.btn:hover {
    background: var(--primary-light);
}

.btn-secondary {
    padding: 10px 2rem;
    font-weight: bold;
    color: var(--text-light);
    background-color: inherit;
    border: 1px solid var(--primary);
    border-radius: var(--radius);
    font-size: clamp(17px, 4vw, 19px);
    cursor: pointer;
}

.wrapper {
    width: 85%;
    margin: auto;
    max-width: 1280px;
}
