@import url('./global.css');

/*======= HERO ROADMAP ========*/

.roadmap-hero {
    background-color: #fdf5e0;
    position: relative;
}
.roadmap-hero-section {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    align-items: center;
    gap: 3em;
    padding: 4em 0;
}

@media screen and (max-width: 850px) {
    .roadmap-hero-section {
        grid-template-columns: 1fr;
        padding: 2em 0;
    }
}

.roadmap-hero-content {
    z-index: 10;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.roadmap-hero-content h1 {
    font-size: clamp(2.55rem, 5vw, 3.5em);
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -0.5px;
    margin-bottom: 1rem;
}

.roadmap-hero-content p {
    font-size: clamp(1.13em, 5vw, 1.3em);
    line-height: 1.6;
    color: var(--text-muted);
    margin-bottom: 2rem;
}
.roadmap-visual {
    max-width: 350px;
    max-height: 350px;
}

/*======= FEATURE ROADMAP ========*/

.roadmap-container {
    margin: 4em 0;
}
.roadmap-header {
    margin-bottom: 2em;
}
.roadmap-header .title {
    font-size: clamp(1em, 5vw, 2em);
}

.roadmaps-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 768px) {
    .roadmaps-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px) {
    .roadmaps-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.roadmap-card {
    background-color: var(--text-light);
    border-radius: var(--radius);
    border: 1px solid var(--card-light-border);
    overflow: hidden;
}

.roadmap-card:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.roadmap-card-header {
    height: 8rem;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.icons {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.icon {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.375rem;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 0.75rem;
}

.roadmap-card-body {
    padding: 1.5rem;
}

.roadmap-card-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.category {
    font-size: 0.625rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0.125rem 0.5rem;
    border-radius: 0.25rem;
    background: #f8f4ec;
    color: var(--primary);
}

.lessons {
    font-size: 0.75rem;
    color: #94a3b8;
}

.roadmap-card-title {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    transition: color 0.3s;
}

.roadmap-card-description {
    font-size: 0.875rem;
    color: var(--text-muted);
    margin-bottom: 1.5rem;
}

.progress-bar-container {
    margin-bottom: 1rem;
}

.progress-bar {
    width: 100%;
    height: 0.375rem;
    background-color: #f1f5f9;
    border-radius: 9999px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: var(--primary);
    border-radius: 100px;
}

.roadmap-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e7edf3;
    padding-top: 1rem;
}

.level {
    font-size: 0.75rem;
    font-weight: 700;
    color: #64748b;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.view-roadmap {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--blue);
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
