@import 'tailwindcss';

:root {
    /* Backgrounds */
    --background: #ffffff;
    --foreground: #0f172a;

    --background-dark: #0a0c11;

    --primary: #2563eb;
    --primary-light: #dbeafe;
    --primary-dark: #1e40af;
    --accent-cyan: #06b6d4;

    --background-muted: #f4f6f8;

    --card-bg: #ffffff;
    --card-hover: #f8fafc;
    --card-border: #e2e8f0;

    --card-d: #101218;
    --card-d-hover: #212126;
    --card-d-border: #1e1e22;

    --radius-premium: 1rem;
    --radius-button: 0.75rem;
}

* {
    transition: all 0.3s ease-in-out;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-width: thin;
    scrollbar-color: var(--card-border);
}

/* SCROLL BAR STYLE */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--card-border);
    border-radius: 20px;
    border: 1px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* DARK STYLE */

.dark {
    --background: #111116;
    --foreground: #f8f9fa;

    --card-bg: #111113;
    --card-hover: #18181b;
    --card-border: #27272a;
}

@theme inline {
    --color-background-dark: var(--background-dark);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-light: var(--primary-light);
    --color-primary-dark: var(--primary-dark);
    --color-accent: var(--accent-cyan);

    --color-bg-muted: var(--background-muted);

    --color-card: var(--card-bg);
    --color-card-hover: var(--card-hover);
    --color-card-border: var(--card-border);

    --color-card-d: var(--card-d);
    --color-card-d-hover: var(--card-d-hover);
    --color-card-d-border: var(--card-d-border);

    --breakpoint-lg-nav: 950px;

    --radius-xl: var(--radius-premium);
}

/* --- Styles de base --- */

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    max-width: 1400px;
    width: 90%;
    margin-inline: auto;
}

@utility glass {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
