@import 'tailwindcss';

:root {
    --background: #f4f6f8;
    --foreground: #0f172a;

    --primary: #4f39f6;
    --primary-dark: #1e40af;
    --accent-cyan: #06b6d4;

    --text-main: #0b101d;
    --text-muted: #666768ce;
    --text-subtle: #b1b4b8;

    --card-bg: #ffffff;
    --card-hover: #f8fafc;
    --card-border: #e2e8f0;

    --radius-premium: 1rem;
}

.dark {
    --background: #0a0c11;
    --foreground: #f8fafc;

    --text-main: #f8fafc;
    --text-muted: #94a3b8;
    --text-subtle: #64748b;

    --card-bg: #101218;
    --card-hover: #212126;
    --card-border: #1e1e22;
}

* {
    transition: all 0.3s ease-in-out;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-width: thin;
    scrollbar-color: var(--card-border);
}

/* SCROLL BAR STYLE */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--card-border);
    border-radius: 20px;
    border: 1px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

@theme inline {
    --variant-dark: .dark &;

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-primary-dark: var(--primary-dark);
    --color-primary-light: var(--primary-light);
    --color-accent: var(--accent-cyan);

    --color-text-main: var(--text-main);
    --color-text-muted: var(--text-muted);
    --color-text-subtle: var(--text-subtle);

    --color-card: var(--card-bg);
    --color-card-hover: var(--card-hover);
    --color-card-border: var(--card-border);

    --radius-xl: var(--radius-premium);
}

/* --- Styles de base --- */

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    max-width: 1400px;
    width: 90%;
    margin-inline: auto;
}

@utility glass {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
